.slidev-layout {
  h1, h2, h3 {
    @apply font-serif font-bold;
  }

  h1 + p {
    @apply -mt-4 mb-4 font-serif;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }

  h3 {
    @apply pt-2 uppercase tracking-widest -ml-[0.05em];
  }

  h3:not(.opacity-100) {
    @apply opacity-40;
  }

  ul {
    list-style: disc;
  }

  strong {
    @apply text-rose-500 font-normal;
  }
}
