<template>
  <div class="slidev-layout default">
    <slot />
  </div>
</template>

<style lang="postcss">
.slidev-layout.default {
  background-image: url("../assets/page-5.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4em 5em;
}
</style>